* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url(assets/background.png);
    background-size: 570px;
}

.button {
    background: none;
    border: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button img {
    width: 40vw;
    max-width: 600px;
}

.counter {
    font-size: 90px;
    color: #993d05;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: fantasy;
}

.shop-button {
    background: none;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
}

.shop-button img {
    width: 30vw;
    max-width: 400px;
}

.shop {
    background-image: url("./assets/shop-background.png");
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    box-shadow: 0 0 50px black;
}

.shop.open {
    opacity: 1;
    pointer-events: all;
}

.shop-close {
    position: fixed;
    right: 6px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 700;
    color: darkslategrey;
}

@media (max-width: 1200px) {
    .button  img {
        width: 400px;
    }
    .shop-button img {
        width: 200px;
    }
    .shop {
        width: 90vw;
    }
}



